.home {
    .titles{
        font-size: 220px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .paragraphs{
        font-family: var(--font-secondary);
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: 47px;
        letter-spacing: 1.32px;
    }
    .loading{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        .spinner{
            margin-top: 20px;
        }
    }
}

.modal{
    h2{
        font-weight: 700;
        font-size: 32px;
    }
}

@media (min-width: 3000px) {
    .home {
        .titles{
            font-size: 474px;
        }
        .paragraphs{
            font-size: 80px;
            line-height: normal;
        }
        .loading{
            scale: 3;
        }
    }
}

@media (min-width: 2000px) and (max-width: 3000px) {
    .home {
        .titles{
            font-size: 304px;
        }
        .paragraphs{
            font-size: 32px;
            line-height: normal;
        }
    }
}

@media(max-width: 1600px){
    .home {
        .titles{
            font-size: 186px;
        }
        .paragraphs{
            line-height: 30px;
        }
    }
}

@media(max-width: 1440px){
    .home {
        .titles{
            font-size: 180px !important;
        }
        .paragraphs{
            line-height: 30px;
            font-size: 20px;
        }
    }
}

@media(max-width: 1400px){
    .home {
        .titles{
            font-size: 164px !important;
        }
        .paragraphs{
            line-height: 30px;
            font-size: 20px;
        }
    }
}

@media(max-width: 1280px){
    .home {
        .titles{
            font-size: 156px !important;
        }
    }
}
