.contact {
    width: 100%;
    margin-top: 5vh;
    min-height: 100vh;
    position: relative;
    z-index: 42;
    color: white;
    display: flex;
    overflow: hidden;

    #contact {
        position: absolute;
        width: 100px;
        height: 100px;
        margin-top: 30vh;
        pointer-events: none;
    }
    .text {
        width: 57%;
        height: 100vh;
        margin-left: 54px;
        display: flex;
        justify-content: center;
        align-items: left;
        z-index: 20;
        position: absolute;
        flex-direction: column;
        animation: fade 1s ease-in;

        h2 {
            display: flex;
            animation: titleAnimation 1s ease-in-out forwards;
        }

        div {
            display: flex;
            width: 100%;
            margin-left: 38%;
            flex-direction: column;
            font-family: var(--font-secondary);
            animation: fade 1s ease-in;

            h3 {
                font-size: 58px;
                font-style: normal;
                font-weight: 200;
                line-height: normal;
            }

            h4 {
                font-size: 37px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                margin-top: 19px;
            }

            p {
                font-size: 24px;
                margin-top: 19px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
            }

            .social {
                display: flex;
                flex-direction: row;
                margin-left: 0%;
                margin-top: 19px;

                svg {
                    margin-right: 10px;
                }
            }
        }
    }
}

.contact-background{
    width: 100%;
    height: 109vh;
    position: relative;
    background-color: var(--bg-color-primary);
    z-index: 40;
    margin-top: -105vh;
}

@keyframes titleAnimation {
    from {
        transform: translateY(40vh);
    }

    to {
        opacity: 1;
        transform: translateY(0vh);
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@media (min-width: 3000px){
    .contact-background{
        margin-top: -127vh;
    }
    .contact {
        margin-top: 10vh;
        .text {
            margin-top: -200px;
            margin-left: 40px;
            div {
                h3 {
                    font-size: 120px;
                }
                h4 {
                    font-size: 96px;
                    margin-top: 25px;
                }

                p {
                    font-size: 72px;
                    margin-top: 25px;
                }

                svg{
                    margin-top: 25px;
                    width: 150px;
                    height: 150px;
                }

            }
        }
    }
}


@media (min-width: 2000px) and (max-width: 3000px) {
    .contact-background{
        margin-top: -127vh;
        height: 130vh;
    }
    .contact {
        margin-top: 20vh;
        .text {
            margin-top: -100px;
            margin-left: 120px;
            div {
                h3 {
                    font-size: 72px;
                }
                h4 {
                    font-size: 56px;
                }

                p {
                    font-size: 40px;
                }

                svg{
                    width: 80px;
                    height: 80px;
                }

            }
        }
    }
}

@media (max-width: 1600px) {
    .contact {
        .text {
            margin-top: 20px;
            margin-left: 43px;
            div {
                h3 {
                    font-size: 54px;
                }
                h4 {
                    font-size: 40px;
                }

                p {
                    font-size: 24px;
                }

            }
        }
    }
}

@media(max-width: 1440px){
    .contact{
        margin-top: 5vh;
        .text{
            div {
                h3 {
                    font-size: 40px;
                }
                h4 {
                    font-size: 32px;
                }

                svg{
                    width: 50px;
                    height: 50px;
                }

            }
        }
    }
    .contact-background{
        margin-top: -112vh;
    }
}

@media(max-width: 1370px){
    .contact{
        min-height: 110vh;
        margin-top: 6vh;
        .text{
            div {
                h3 {
                    font-size: 40px;
                }
                h4 {
                    font-size: 32px;
                }

                svg{
                    width: 50px;
                    height: 50px;
                }

            }
        }
    }
    .contact-background{
        margin-top: -112vh;
    }
}

@media(max-width: 1290px){
    .contact{
        min-height: 120vh;
        margin-top: 15vh;
        .text{
            margin-left: 23px;
            div {
                h3 {
                    font-size: 40px;
                }
                h4 {
                    font-size: 32px;
                }

                svg{
                    width: 50px;
                    height: 50px;
                }

            }
        }
    }
    .contact-background{
        margin-top: -125vh;
    }
}

@media (max-width: 1300px) and (min-height: 900px) {
    .contact{
        margin-top: -10vh;
    }
}


@media (max-width: 1150px){
    .contact{
        .text{
            margin-top: -10vh;
        }
    }
}

@media(max-width: 1000px){
    .contact{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        margin-top: 0vh;
        .text{
            margin-top: 43vh;
            margin-left: 0px;
            div {
                display: flex;
                margin-left: 0%;
                h3 {
                    margin-top: -10px;
                    font-size: 25.214px;
                }
                h4 {
                    margin-top: 5px;
                    font-size: 15.047px;
                }
                p{
                    margin-top: 5px;
                    font-size: 9.76px;
                }

                .social{
                    gap: 0px;
                    margin-top: 5px;
                    svg{
                        width: 26.078px;
                        height: 23.18px;
                    }
                    #svg-two{
                        margin-left: -10px;
                    }
                }
            }
        }
    }
    .contact-background{
        margin-top: -101vh;
    }
}

@media(max-height: 570px)  and (max-width: 768px){
    .contact-background{
        height: 120vh;
    }
}

@media (max-height: 800px) and (max-width: 768px){
    .contact{
        margin-top: 6vh;
    }
}

@media (max-height: 750px) and (max-width: 768px){
    .contact{
        .text{
            margin-left: -15%;
        }
    }
}

@media(max-width: 385px) and (max-height: 750px){
    .contact{
        margin-top: 3vh;
    }
}

@media(max-height: 670px)  and (max-width: 768px){
    .contact{
        margin-top: 1.5vh;
        .text{
            margin-left: -20%;
        }
    }
}

@media(min-height: 1100px) and (max-width: 968px){
    .contact{
        margin-top: -2vh;
        margin-left: 5vw;
    }
}

@media(max-height: 570px)  and (max-width: 768px){
    .contact{
        margin-top: 13vh;
        .text{
            margin-left: -20%;
            margin-top: 35%;
            div {
                margin-top: 5px;
                display: flex;
                margin-left: 0%;
                h3 {
                    margin-top: -10px;
                    font-size: 15px;
                }
                h4 {
                    margin-top: 5px;
                    font-size: 12px;
                }
                p{
                    margin-top: 5px;
                    font-size: 7px;
                }

                .social{
                    gap: 0px;
                    margin-top: 5px;
                    svg{
                        width: 26.078px;
                        height: 23.18px;
                    }
                    #svg-two{
                        margin-left: -10px;
                    }
                }

            }
        }
    }
}